@import '@style/_variables.scss';

.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.error_img {
  width: $icon_size;
  height: $icon_size;
}

.error_text {
  color: tomato;
  font-size: $font_16;
}
