@import '@style/_variables.scss';

.photo {
  width: $profile_photo_size_big;
  height: $profile_photo_size_big;
  margin: 76px 0px 16px 0px;

  border-radius: 50%;
  border: $border_profile_photo;
}

@media only screen and (max-width: $media_small) {
  .photo {
    width: $profile_photo_size_small;
    height: $profile_photo_size_small;
    margin: 124px 0px 34px 0px;
  }
}
