@import '@style/_variables.scss';

.character_card {
  width: $card_width_small;
  height: $card_height_small;
  margin-top: 28px;

  display: flex;
  flex-direction: column;

  border-radius: 4px;
  box-shadow: $box_shadow;

  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}
.character_img {
  width: $card_img_width_small;
  height: $card_img_height_small;

  object-fit: cover;
}
.character_name {
  margin: 12px 16px 0px 16px;
  width: 100%;

  color: $color_font_primary;

  font-size: $font_20;
  line-height: 30px;
  font-weight: 500;

  text-overflow: ellipsis;
}

.character_title {
  margin: 0px 16px 12px 16px;

  color: $color_font_secondary;

  font-size: $font_14;
  line-height: 21px;
  font-weight: 400;

  letter-spacing: 0.25px;
}

@media only screen and (max-width: $media_small) {
  .character_card {
    width: $card_width_big;
    height: $card_height_big;
  }
  .character_img {
    width: $card_img_width_big;
    height: $card_img_height_big;
  }
}
