@import '@style/_variables.scss';

.info_list {
  width: $container_info_width_big;
}

.info_list_item {
  width: 100%;
  height: $container_info_item_height;
  padding: 9px 16px 11px 16px;

  display: flex;
  flex-direction: column;

  border-bottom: $border_info_list;

  b {
    color: $color_font_primary;

    font-size: $font_16;
    line-height: 24px;
    font-weight: 700;
  }

  span {
    color: $color_font_secondary;

    font-size: $font_14;
    line-height: 20px;
    font-weight: 400;
  }
}

@media only screen and (max-width: $media_small) {
  .info_list {
    width: $container_info_width_small;
  }
}
