@import '@style/_variables.scss';

.search_container {
  width: $container_catalog_width;
  height: 66px;

  margin: 16px 0px 23px 0px;
}
.search_label {
  width: 100%;
  padding: 16px;

  display: flex;
  gap: 8px;

  border: $search_bar;
  border-radius: 8px;
}
.search_icon {
  width: $icon_size;
  height: $icon_size;
}

.search_input {
  flex: 1;
  font-weight: 400;
  font-size: $font_16;
  color: $color_border;
}
