// COLORS schema

$color_main: #ffffff;

$color_border: rgba(0, 0, 0, 0.5);

$color_font_primary: rgba(0, 0, 0, 0.87);
$color_font_secondary: rgba(0, 0, 0, 0.6);

$color_button: #000000;

// CONTAINERS sizes

$container_main_width: 1440px;
$container_main_height: 1119px;

$container_catalog_width: 1020px;
$container_catalog_height: 66px;

$container_card_width: 240px;
$container_card_height: 244px;

$container_info_width: 413px;
$container_info_height: 64px;

$card_width: 240px;
$card_height: 244px;

// FONT Sizes

$font_14: 14px;
$font_16: 16px;
$font_18: 18px;
$font_20: 20px;
$font_48: 48px;

// ICONS & IMGs sizes

$logo_width: 600px;
$logo_height: 200px;

$profile_size: 300px;

$icon_size: 24px;

// BOX SHADOW

$box_shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
  0px 2px 4px rgba(0, 0, 0, 0.14);

// BORDERS

$search_bar: 1px solid rgba(0, 0, 0, 0.5);
$profile_photo: 5px solid #f2f2f7;
$info_list: 1px solid rgba(33, 33, 33, 0.08);
