@import '@style/_font.scss';
@import '@style/_variables.scss';
@import '@style/_normalize.scss';

* {
  @include normalize;
}

.app {
  min-height: 100vh;

  background-color: $color_main;

  font-family: 'Roboto', sans-serif;
}
